<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.5.0/modern-normalize.min.css" />
  <link rel="stylesheet" href="./style.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
  <script>
    hljs.initHighlightingOnLoad()
  </script>
  <title>GraphQLPlaceholder - Fake online GraphQL API for developers</title>
</head>

<body>
  <header>
    <!-- <div class="announcement">
      This service is maintained and provided for free, please consider
      supporting it on
      <a href="https://github.com/users/enochval/sponsorship">GitHub Sponsors</a>
      ❤️
    </div> -->
    <nav class="container">
      <ul>
        <li><a href="/">QraphQLPlaceholder</a></li>
        <li><a href="/guide">Guide</a></li>
        <li>
          <a href="https://graphqlplaceholder.vercel.app/graphql" target="_blank">GraphQL Playground</a>
        </li>
        <li><a href="https://github.com/enochval">GitHub</a></li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <p>
    <main>
      </p>
      <h2 id="guide">Guide</h2>
      <p>You can use GraphQLPlaceholder with any type of project that needs to get JSON data (React, Vue, Node,
        Rails, Swift, Android, …).
      </p>
      <p>Below are examples of Queries and Mutations. You can copy and paste them into the
        <a href="" target="_blank">GraphQL Playground</a> to quickly test GraphQLPlaceholder or you can use the
        <a href="https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API" target="_blank">Fetch API</a> in your
        browser console.
      </p>

      <h3 id="getaresource">Get a resource query</h3>
      <pre><code class="js language-js">// POST =&gt; https://graphqlplaceholder.vercel.app/graphql

query {
  userById(id: 1) {
    id
    name
    email
    phone
  }
}

// Output
{
  userById: {
    id: 1,
    name: "[...]",
    email: "[...]",
    phone: "[...]"
  }
}
</code></pre>
      <div id="codefund"><!-- fallback content --></div>
      <script src="https://app.codefund.io/properties/338/funder.js" async="async"></script>
      <h3 id="listallresources">List all resources query</h3>
      <pre><code class="js language-js">// POST =&gt; https://graphqlplaceholder.vercel.app/graphql

query {
  posts {
    id
    title
    body
  }
}

// Output
{
  posts: [
    { id: 1, title: '[...]' /* ... */ },
    /* ... */
    { id: 100, title: '[...]' /* ... */ }
  ]
}
</code></pre>
      <h3 id="createaresource">Create a resource mutation</h3>
      <pre><code class="js language-js">mutation {
  createPost(post: {
    title: "Lorem Ipsum",
    body: "Lorem Ipsum is simply dummy text.",
    userId: 1
  }) {
    id
    title
    body
  }
}

// Output
{
  createPost: {
    id: 101,
    title: "Lorem Ipsum",
    body: "Lorem Ipsum is simply dummy text."
  }
}
</code></pre>
      <p><strong>Important:</strong> The resource will not actually be created on the server; it will be simulated as if
        it were. In other words, if you try to access a post using 101 as an ID, you'll receive a 400 error.</p>

      <h3 id="updatearesource">Update a resource mutation</h3>
      <pre><code class="js language-js">mutation {
  updatePost(postId: 1, post: {
    title: "Lorem Ipsum"
  }) {
    id
    title
    body
  }
}

// Output
{
  updatePost: {
    id: 1,
    title: "Lorem Ipsum",
    body: "[...]"
  }
}

</code></pre>
      <p><strong>Important:</strong> The resource will not actually be updated on the server; the update will be simulated. </p>

      <h3 id="deletearesource">Delete a resource mutation</h3>
      <pre><code class="js language-js">mutation {
  deletePost(postId: 1)
}

// Output
{
  deletePost: "Post with ID 1 is successfully deleted."
}
</code></pre>
<p><strong>Important:</strong> The resource will not actually be deleted on the server; the delete will be simulated. </p>

<h3 id="filterresources">Filter resources queries</h3>
      <p>Basic filtering is supported through query arguments.</p>
      <pre><code class="js language-js">// Will return all the posts that belong to the first user
query {
  posts(userId: 1) {
    id
    title
  }
}

// Will return the first 10 posts
query {
  posts(first: 10) {
    id
    title
  }
}
</code></pre>
      <h3 id="nestedresources">Nested resources queries</h3>
      <p>Multiple level of nested queries are available.</p>
      <pre><code class="js language-js">// Will return a user details, posts with associated comments, albums with associated photos, and todos
query {
  userById(id: 1) {
    name
    email
    phone
    posts {
      id
      title
      comments {
        id
        name
        body
      }
    }
    albums {
      id
      title
      photos {
        id
        url
        thumbnailUrl
      }
    }
    todos {
      id
      title
      completed
    }
  }
}
</code></pre>
      <p>Refer to the schema for more nested graph resource</p>
      
      <p>
    </main>
    </p>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div style="margin-bottom: 2rem;">
        <!-- <a href="https://www.patreon.com/bePatron?c=784328"> -->
        <!--   <img -->
        <!--     src="https://c5.patreon.com/external/logo/become_a_patron_button@2x.png" -->
        <!--     width="217" -->
        <!--   /> -->
        <!-- </a> -->
        <a href="https://github.com/enochval/graphql-placeholder">
          <i class="fab fa-github-alt"></i>
          <strong>Start this project on GitHub</strong>
        </a>
      </div>
      <div>
        Coded and built with ❤️ by
        <a href="https://github.com/enochval">Enoch</a>
        <br />Source code and CHANGELOG available on
        <a href="https://github.com/enochval/graphql-placeholder">GitHub</a>
      </div>
    </div>
  </footer>

  <!-- Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KVHZHCH0EW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-KVHZHCH0EW');
  </script>
</body>

</html>