<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.5.0/modern-normalize.min.css" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
    <script>
        hljs.initHighlightingOnLoad()
    </script>
    <title>QraphQLPlaceholder - Fake online GraphQL API for developers</title>
</head>

<body>
    <header>
        <div class="announcement">
            This service is maintained and provided for free, please consider
            supporting it on
            <a href="https://github.com/users/enochval/sponsorship">GitHub Sponsors</a>
            ❤️
        </div>
        <nav class="container">
            <ul>
                <li><a href="/">QraphQLPlaceholder</a></li>
                <li><a href="/guide">Guide</a></li>
                <li>
                    <a href="https://graphqlplaceholder.vercel.app/graphql" target="_blank">GraphQL Playground</a>
                </li>
                <li><a href="https://github.com/enochval">GitHub</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <!-- Hero -->
        <div class="hero">
            <div class="container">
                <h1>
                    QraphQLPlaceholder
                </h1>

                <p class="subtitle">
                    <!-- Fake Online GraphQL API for Testing and Prototyping -->
                    Your Sandbox for Seamless GraphQL Testing and Prototyping
                    <!-- <br> <b>Serving ~350M requests per month</b> -->
                    <br> Powered by
                    <a href="https://jsonplaceholder.typicode.com" target="_blank">JSONPlaceholder</a>
                     <!-- +
                    <a href="https://github.com/typicode/lowdb">LowDB</a> -->
                </p>

                <!-- <p>
                  <a href="https://www.patreon.com/bePatron?c=784328">
                    <img src="https://c5.patreon.com/external/logo/become_a_patron_button@2x.png" width="217">
                  </a>
                </p> -->
            </div>
        </div>

        <!-- Sponsors -->
        <div class="sponsors">
            <h3>Sponsors</h3>

            <!-- <p>
                <a href="https://tryretool.com/?utm_source=sponsor&utm_campaign=typicode" target="_blank">
                    <img src="https://i.imgur.com/IBItATn.png" height="70px">
                </a>
            </p>

            <p>
                <a href="https://www.checklyhq.com/?utm_source=jsonplaceholder" target="_blank">
                    <img src="https://i.imgur.com/qS8XyfG.png" height="70px">
                </a>
            </p> -->

            <p>
                <a href="https://www.patreon.com/bePatron?c=784328">Your Company Logo Here</a>
            </p>
        </div>

        <!-- Main -->
        <div class="container">
            <main>
                <!-- Intro -->
                <h2>Welcome</h2>
                <p>
                    GraphQLPlaceholder is a free online GraphQL implementation of the popular <a href="https://jsonplaceholder.typicode.com" target="_blank">JSON Placeholder</a> RESTful API. GraphQLPlaceholder offers a dynamic GraphQL playground designed for testing and experimentation, providing developers with an easy-to-use platform for generating fake data on demand.
                    <br>
                    <br>
                    Whether you're working on tutorials, testing new libraries, or sharing code examples, GraphQLPlaceholder is an invaluable tool for developers looking to streamline their workflows and enhance their coding practices. It can be used in a README on GitHub, for a demo on CodeSandbox, in code examples on Stack Overflow, or simply to test things locally.
                </p>

                <!-- Example -->
                <h2>Try it</h2>
                <p>
                    Run this code in a console or from any site:
                </p>

                <pre><code id="example" class="javascript">const query = `
    query {
        userById(id: 1) {
            id
            name
            email
            phone
        }
    }
`;

fetch('https://graphqlplaceholder.vercel.app/graphql', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify({ query })
})
  .then(response => response.json())
  .then(json => console.log(json))
</code></pre>

                <p>
                    <button id="run-button">Run script</button>
                </p>

                <pre><code id="result" class="json"></code></pre>
                <span id="run-message">Congrats you've made your first call to GraphQLPlaceholder! 😃 🎉</span>

                <p>
                    <strong>Tip</strong>: you can use
                    <b>
                        http://
                    </b> or
                    <b>
                        https://
                    </b> when making requests to GraphQLPlaceholder.
                </p>

                <div id="codefund"><!-- fallback content --></div>
                <script src="https://app.codefund.io/properties/338/funder.js" async="async"></script>

                <!-- Resources -->
                <h2>Queries</h2>
                <p>
                    GraphQLPlaceholder comes with a set queries that supports JSONPlaceholder resources:
                </p>

                <table class="resources">
                    <tr>
                        <td>
                            posts
                        </td>
                        <td>100 posts</td>
                    </tr>
                    <tr>
                        <td>
                            comments
                        </td>
                        <td>500 comments</td>
                    </tr>
                    <tr>
                        <td>
                            albums
                        </td>
                        <td>100 albums</td>
                    </tr>
                    <tr>
                        <td>
                            photos
                        </td>
                        <td>5000 photos</td>
                    </tr>
                    <tr>
                        <td>
                            todos
                        </td>
                        <td>200 todos</td>
                    </tr>
                    <tr>
                        <td>
                            users
                        </td>
                        <td>10 users</td>
                    </tr>
                </table>

                <p>
                    <strong>Note</strong>: resources have relations. For example:
                    <b>posts</b> have many
                    <b>comments</b>,
                    <b>albums</b> have many
                    <b>photos</b>, ... see <a href="/guide">guide</a> for the full list..
                </p>

                <!-- Routes -->
                <h2>Mutations</h2>
                <p>
                    GraphQLPlaceholder currently supports 3 mutations for Post resource.
                </p>

                <table>
                    <tr>
                        <td>Post</td>
                        <td>createPost</td>
                    </tr>
                    <tr>
                        <td>Post</td>
                        <td>updatePost</td>
                    </tr>
                    <tr>
                        <td>Post</td>
                        <td>deletePost</td>
                    </tr>
                </table>

                <p>
                    <strong>Note</strong>: you can view detailed examples
                    <a href="/guide">here</a>.
                </p>

                <!-- JSON Server -->
                <!-- <h2>Use your own data</h2> -->
                <!-- <p>
        <a href="https://github.com/typicode/json-server">JSON Server</a>
        powers this website. You can use it to create the same fake API in less than
        <strong>30 seconds</strong> with your own data.
      </p>

      <pre><code class="bash">npm install json-server</code></pre> -->

                <!-- <p>
                    With <a href="https://my-json-server.typicode.com">My JSON Server</a> online service and a simple
                    GitHub repo, you can have your own online fake REST server in seconds.
                </p> -->
            </main>
        </div>

    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div style="margin-bottom: 2rem;">
                <!-- <a href="https://www.patreon.com/bePatron?c=784328">
                  <img
                    src="/become_a_patron_button.png"
                    width="217"
                  />
                </a> -->
                <a href="https://github.com/users/enochval/sponsorship">
                    <i class="fab fa-github-alt"></i>
                    <strong>Sponsor this project on GitHub</strong>
                </a>
            </div>
            <div>
                Coded and built with ❤️ by
                <a href="https://github.com/enochval">Enoch</a>
                <br />Source code and CHANGELOG available on
                <a href="https://github.com/enochval/graphql-placeholder">GitHub</a>
            </div>
        </div>
    </footer>

    <!-- Analytics -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KVHZHCH0EW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-KVHZHCH0EW');
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
    <script>
        // Use http or https based on location.protocol
        var example = document.getElementById('example')
        example.textContent = example.textContent.replace(
            'http:',
            location.protocol,
        )

        // Highlight result element
        var result = document.getElementById('result')
        hljs.highlightBlock(result)

        // Run example
        var runButton = document.getElementById('run-button')
        runButton.onclick = function () {
            var root = location.protocol + '//graphqlplaceholder.vercel.app'
            var runMessage = document.getElementById('run-message')

            // Hide or disable things during API call
            runButton.disabled = true
            runMessage.style.opacity = 0
            result.style.opacity = 0

            const query = `
                query {
                    userById(id: 1) {
                        id
                        name
                        email
                        phone
                    }
                }
            `;

            fetch(`${root}/graphql`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ query })
            })
                .then((response) => response.json())
                .then((json) => {
                    var str = JSON.stringify(json, null, '\t')

                    // Format result
                    result.innerHTML = str
                        .replace(/\n/g, '<br/>')
                        .replace(/\\n/g, ' ')
                        .replace(/\t/g, '&nbsp;&nbsp;')

                    hljs.highlightBlock(result)

                    // Show and enable things after API call
                    runButton.disabled = false
                    runMessage.style.opacity = 1
                    result.style.opacity = 1
                })
        }
    </script>
</body>

</html>